@import url(//db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A);

body{
    font-family: 'Euclid Circular A';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    /* width: 100%; */
    background-color: #e1dfdf88;
}

/* header */

.header{
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 50;
    background: #ffffff;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-items{
    display: flex;
}

.navbar-item{
    padding: 5px;
    text-transform: uppercase;
    position: relative;
}

.navbar-item__arrow ::after{
   content: url(/images/menu-arrow.svg);
   position: absolute;
   right: -20px;
   top: 4px; 
}

.navbar-item{
    margin-right: 26px;
}

.navbar-item__arrow{
    margin-right: 53px;
}

.navbar-btn-item{
    background: #CE2127;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

/* navbar-mobile */

.navbar-mobile{
    display: none;
}

/* .mobile-close-btn{
    display: none;
} */

.mobile-menu_wrapper{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* .show-mobile-menu{
    left: 0;
} */

.hidden{
    display: none;
}

.mobile-menu_modal{
    width: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 80%;
    overflow-y: auto;
} 

.mobile-menu_item__arrow::after{
    content: url(/images/menu-arrow.svg);
    padding: 10px;
}

.mobile-menu_items{
    display: flex;
    justify-content: space-between;
}

.mobile-menu_list, .mobile-menu_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu_social-links{
    display: flex;
    justify-content: center;
}

.mobile-menu_social-item:not(:last-child){
    margin-right: 18px;
}

.mobile-menu_social-item a img{
    border: 5px;
}

.mobile-menu-btn-enter{
    position: relative;
}

.mobile-menu-btn-enter::before{
    content: url(/images/enter-btn.svg);
    position: absolute;
    top: -5px;
    left: -35px;
}

.mobile-menu-btn{
    text-align: center;
}

.mobile-menu-btn-item{
    background: #CE2127;
    border-radius: 30px;
    padding: 11px 53px;
}

.drop-mobile-menu_item{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.drop-mobile-menu_list{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.mobile-menu_item :hover{
    color: red;
}

.drop-mobile-menu_item:not(:last-child){
    margin-bottom: 10px;
}

/* .mobile-menu_item:hover .drop-mobile-menu_list{
    display: flex;
}  */


.show-mobile-menu{
    left: 0;
}

.mobile-btn{
    width: 222px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding: 11px 0;
    border-radius: 30px;
    border: 1px solid #CE2127;
}

.buy-btn{
    padding: 11px 0px;
    color: #FFFFFF;
    background: #CE2127;
    margin-bottom: 10px;
    margin-top: 20px;
}

.order-btn{
    color: #000000;
    background: #ffffff;
    margin-bottom: 40px;
}


.mobile-menu_item{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mobile-menu_contacts_link{
    font-size: 20px;
    line-height: 28px;
    color: #CE2127;
}

.mobile-menu_contacts_item{
   margin-bottom: 20px;
}

.mobile-menu_social-links{
   position: relative;
   margin-top: 20px;   
   margin-bottom: 40px;
}


.show{
    display: block;
}

.no-scroll{
    overflow: hidden;
}


/* banner */

.banner{
    color: #FFFFFF;
    height: 150px;
}

.banner-wrapper{
    background-image: url(/images/red-circle.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.banner-title{
    font-weight: 600;
    font-size: 96px;
    line-height: 96px;
    text-transform: uppercase;
    margin-top: 160px;
}

.banner-text{
    max-width: 683px;
    font-size: 48px;
    line-height: 60px;
    margin-top: 10px;
}

.banner-info_list{
    margin-top: 75px;
    display: flex;
    /* justify-content: space-around; */
}

.banner-info_item{
    max-width: 185px;
    padding-left: 60px;
    position: relative;
}

.banner-info_item:not(:last-child){
    margin-right: 120px;
}

.banner-info_item_1::before{
    content: url(/images/banner-1.svg);
    position: absolute;
    top: 3px;
    left: -7px;
}

.banner-info_item_2::before{
    content: url(/images/banner-2.svg);
    position: absolute;
    top: -3px;
    left: -10px;
}

.banner-info_item_3::before{
    content: url(/images/banner-3.svg);
    position: absolute;
    top: -3px;
    left: -10px;
}

.banner-items-img{
    margin-top: 70px;
}

.banner-img{
    max-width: 100%;
}

.banner-items-center{
    color: #000000;
    width: 452px;
    height: 452px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 620px;
    text-align: center;
}


.banner-center-img-top{
    margin-top: 22px;
    max-width: 201px;
    max-height: 201px;
}

.banner-center-img-bottom{
    width: 53px;
}

.banner-center-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 22px;
}

.banner-center-info{
    line-height: 20px;
    margin-bottom: 22px;
    padding-left: 20px;

}

.banner-center-info::before{
    content: url(/images/banner-m.svg);
    position: absolute;
    margin-left: -35px;
}


.banner-slider{
    margin-top: 79px;
}

/* .banner-slider_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: 300px;

} */

.banner-slider{
    background: rgba(255, 255, 255, 0.3);
    max-width: 500px;
    height: 200px;
    border-radius: 30px;
}

.banner-slider_wrapper{
    color: #FFFFFF;
    padding: 30px 50px;
    background: url(/images/slider-img-banner.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100%;
}

.banner-slider_wrapper div{
    margin-right: 10px;
    padding-left: 5px;
}


/* .banner-slider_wrapper::after{
    content: url(/images/slider-img-banner.svg);
    position: absolute;
    top: 0;
    right: 0;
  
} */

.banner-slider-item_info{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.banner-slider-item_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.banner-slider-item_btn{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 30px;    
    padding: 15px 30px;
    border: 2px solid #ffffff;
    margin-top: 20px;
    background: transparent;
}

.slick-dots {
    left: 0;
}

.slick-dots li button:before {
    font-size: 12px;
    line-height: 40px;
    color: white;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ffffff;
}

.slick-next:before {
    content: url(/images/next-clider-top.svg);
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 50%;
    width: 26px;
    position: absolute;
    top: -15px;
    opacity: 1; 
    right: 0;
}

.slick-prev::before {
    content: url(/images/prev-slider-top.svg);
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 50%;
    width: 26px;
    position: absolute;
    left: 0px;
    top: -15px;
    opacity: 1;
    
}